.ui-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  border-radius: var(--radius-md);
  font-weight: 500;
  line-height: var(--line-tight);
  border: .5px solid transparent;
  cursor: pointer;
  transition:
    background-color 120ms ease,
    color 120ms ease,
    border-color 120ms ease,
    box-shadow 120ms ease;
}

.ui-button:focus-visible {
  outline: 2px solid var(--color-focus-ring);
  outline-offset: 2px;
}

.ui-button:disabled {
  cursor: not-allowed;
}

.ui-button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.ui-button__label {
  text-shadow: var(--shadow-button-label-secondary);
  padding-block: var(--space-0-5);
  padding-inline: var(--space-0-5);
}

.ui-button[data-variant='primary']:not(:disabled) .ui-button__label {
  text-shadow: var(--shadow-button-label-secondary);
}

.ui-button[data-variant='ghost'] .ui-button__label,
.ui-button:disabled .ui-button__label {
  text-shadow: none;
}

.ui-button[data-size='sm'] .ui-button__icon svg {
  width: 14px;
  height: 14px;
}

.ui-button[data-size='md'] .ui-button__icon svg {
  width: 16px;
  height: 16px;
}

.ui-button[data-size='lg'] .ui-button__icon svg {
  width: 18px;
  height: 18px;
}

.ui-button[data-size='sm'] {
  height: 2rem;
  padding-block: var(--space-0-5);
  padding-inline: var(--space-2);
  font-size: var(--type-label-sm-size);
  line-height: var(--type-label-sm-lineHeight);
}

.ui-button[data-size='md'] {
  height: 2.5rem;
  padding-block: var(--space-1);
  padding-inline: var(--space-3);
  font-size: var(--type-label-md-size);
  line-height: var(--type-label-md-lineHeight);
}

.ui-button[data-size='lg'] {
  height: 3rem;
  padding-block: var(--space-1-5);
  padding-inline: var(--space-4);
  font-size: var(--type-label-lg-size);
  line-height: var(--type-label-lg-lineHeight);
}

.ui-button[data-variant='primary'] {
  background: var(--button-bg-primary);
  color: var(--button-fg-primary);
  border-color: var(--button-border-primary);
  box-shadow:
  /* top inner highlight */
  0 1px 1px 0 rgba(255, 255, 255, 0.50) inset,
  /* bottom inner shadow */
  0 0 0 0 rgba(0, 0, 0, 0.20) inset,
  /* drop shadow */
  0 2px 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='primary']:hover:not(:disabled) {
  background: var(--button-bg-primary-hover);
}

.ui-button[data-variant='primary']:active:not(:disabled) {
  background: var(--button-bg-primary-pressed);
  box-shadow:
    0 2px 0 0 rgba(0, 0, 0, 0.20) inset,
    0 0 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='primary']:disabled {
  background: var(--button-bg-primary-disabled);
  color: var(--button-fg-primary-disabled);
  border-color: transparent;
  box-shadow: none;
}

.ui-button[data-variant='secondary'] {
  background: var(--button-bg-secondary);
  color: var(--button-fg-secondary);
  border-color: var(--button-border-secondary);
  box-shadow:
  /* top inner highlight */
  0 1px 0 1px var(--shadow-button-secondary-resting-topInnerShadow) inset,
  /* bottom inner shadow */
  0 0 0 0 rgba(0, 0, 0, 0.10) inset,
  /* drop shadow */
  0 2px 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='secondary']:hover:not(:disabled) {
  background: var(--button-bg-secondary-hover);
}

.ui-button[data-variant='secondary']:active:not(:disabled) {
  background: var(--button-bg-secondary-pressed);
  box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.20) inset,
    0 0 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='secondary']:disabled {
  background: var(--button-bg-secondary-disabled);
  color: var(--button-fg-secondary-disabled);
  border-color: transparent;
  box-shadow: none;
}

.ui-button[data-variant='ghost'] {
  background: transparent;
  color: var(--button-fg-ghost);
  border-color: var(--button-border-ghost);
}

.ui-button[data-variant='ghost']:hover:not(:disabled) {
  background: var(--button-bg-ghost-hover);
}

.ui-button[data-variant='ghost']:active:not(:disabled) {
  background: var(--button-bg-ghost-pressed);
}

.ui-button[data-variant='ghost']:disabled {
  background: var(--button-bg-ghost-disabled);
  color: var(--button-fg-ghost-disabled);
  border-color: transparent;
}

.ui-button[data-variant='positive'] {
  background: var(--button-bg-positive);
  color: var(--button-fg-positive);
  border-color: var(--button-border-positive);
  box-shadow:
  /* top inner highlight */
  0 1px 1px 0 rgba(255, 255, 255, 0.50) inset,
  /* bottom inner shadow */
  0 0 0 0 rgba(0, 0, 0, 0.20) inset,
  /* drop shadow */
  0 2px 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='positive']:hover:not(:disabled) {
  background: var(--button-bg-positive-hover);
}

.ui-button[data-variant='positive']:active:not(:disabled) {
  background: var(--button-bg-positive-pressed);
  box-shadow:
    0 2px 0 0 rgba(0, 0, 0, 0.20) inset,
    0 0 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='positive']:disabled {
  background: var(--button-bg-positive-disabled);
  color: var(--button-fg-positive-disabled);
  border-color: transparent;
  box-shadow: none;
}

.ui-button[data-variant='critical'] {
  background: var(--button-bg-critical);
  color: var(--button-fg-critical);
  border-color: var(--button-border-critical);
  box-shadow:
  /* top inner highlight */
  0 1px 1px 0 rgba(255, 255, 255, 0.50) inset,
  /* bottom inner shadow */
  0 0 0 0 rgba(0, 0, 0, 0.20) inset,
  /* drop shadow */
  0 2px 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='critical']:hover:not(:disabled) {
  background: var(--button-bg-critical-hover);
}

.ui-button[data-variant='critical']:active:not(:disabled) {
  background: var(--button-bg-critical-pressed);
  box-shadow:
    0 2px 0 0 rgba(0, 0, 0, 0.20) inset,
    0 0 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='critical']:disabled {
  background: var(--button-bg-critical-disabled);
  color: var(--button-fg-critical-disabled);
  border-color: transparent;
  box-shadow: none;
}

.ui-button[data-variant='warning'] {
  background: var(--button-bg-warning);
  color: var(--button-fg-warning);
  border-color: var(--button-border-warning);
  box-shadow:
  /* top inner highlight */
  0 1px 1px 0 rgba(255, 255, 255, 0.50) inset,
  /* bottom inner shadow */
  0 0 0 0 rgba(0, 0, 0, 0.20) inset,
  /* drop shadow */
  0 2px 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='warning']:hover:not(:disabled) {
  background: var(--button-bg-warning-hover);
}

.ui-button[data-variant='warning']:active:not(:disabled) {
  background: var(--button-bg-warning-pressed);
  box-shadow:
    0 2px 0 0 rgba(0, 0, 0, 0.20) inset,
    0 0 0 0 var(--shadow-button-dropShadow);
}

.ui-button[data-variant='warning']:disabled {
  background: var(--button-bg-warning-disabled);
  color: var(--button-fg-warning-disabled);
  border-color: transparent;
  box-shadow: none;
}
